
.nav-container{
  margin: auto;
  border-bottom: 2px solid grey;
  background-color: rgb(80, 80, 80);
  height: 20px;
  padding: 20px;
}

.nav-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.sidebar-container{
  display:flex;
  flex-direction: column;
  position:fixed;
  padding: 15px;
  left: -140px;
  top: 60px;
  height: 92vh;
  background-color: rgba(0, 0, 0, 0.342);
  transition: 0.5s;
}

.sidebar-link{
  padding: 10px;
}

.reveal-navbar{
  transform: translate(140px);
}
